body {
    margin: 0px;
}
.body {
    width: 1219px;
    padding: 0 55px;
    margin: auto;
}
.head {
    position: fixed;
    top: 0px;
    
    width: 1219px;
    
    background: #007765;
}
.logo {
    top: 20px;
    left: 55px;
    width: 184px;
    height: 45.04px;
    margin-left: 55.04px;
    margin-top: 20px;
    margin-bottom: 18.96px;
    float: left;

}
.linkProblem {
    display: block;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    
    margin-left: 502px;
    margin-top: 28px;
    float: left;

    line-height: 28px;
    color: #FFFFFF;
}
.linkCoin {
    display: block;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;

    margin-left: 8px;
    margin-top: 29px;
    float: left;

    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.linkTeam {
    display: block;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    margin-left: 8px;
    margin-top: 29px;
    float: left;

    text-align: center;
    color: #FFFFFF;
}
.stick {
    display: block;

    float: left;
    margin-top: 28px;
    margin-left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    text-align: center;

    color: #FFFFFF;
}
.intro {
    margin-top: 0px;
    margin-bottom: 0px;
    background: url(logo_background.png);
    background-size: cover; 
}
h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 244px; 
    padding-bottom: 76px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    
    color: #FFFFFF;
}
.problem {
    background: #EEEEEE;
}
.anchor {
    display: block;
    padding-bottom: 84px;
}
h2 {
    margin: 0px;
    padding-top: 48px;
    padding-bottom: 16px; 

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;

    text-align: center;

    color: #007765;
}
.text {
    padding: 0px 54px 92px 55px;
}
.text > p {
    margin: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
}
.phrase {
    background: url(phrase_background.png);
    background-size: cover;
}
.phrase > p {
    padding: 128px 163px 43px 163px;
    margin-top: 0px;
    margin-bottom: 0px; 

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
} 
.coin {
    background: #FFFFFF;
}
.coin > h2 {
    padding: 48px 54px 16px 55px;
    margin-bottom: 0px;
}
.coin > img {
    margin-left: 55px;
    margin-right: 48px;
    float: left;
    width: 115px;
    height: 115px;
}
.coin > p {
    margin: 0px;
    padding: 0px 71px 40px 48px;
}
.coin > div {
    margin: 0px;
    padding: 0px 54px 92px 55px;
}
.coin p {
    margin: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
}